.div1 {

    height: 50px;
    background-color: pink;    
}

.div2 {
    height: 400px;
background-color: purple;    
}

.div3 {
    height: 50px;
    background-color: pink;  
}

.div4 {
    height: 50px;
background-color: yellow;  
}